<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <body>
    <%- include("header") %>
    <main class="individual-trainer-main">
      <%- include("trainerForms")%>
      <div class="trainer-pokemon-container">
        <div class="trainer">
          <a href="/trainers/<%= trainers.id %>" class="pokemon-card-link">
            <ul class="trainer-details">
              <li>
                <img
                  src="<%= trainers.image_path %>"
                  alt="Image of <%= trainers.name %>"
                />
              </li>
              <li class="trainer-name"><%= trainers.name %></li>
              <li class="trainer-description"><%= trainers.description %></li>
            </ul>
          </a>
          <%- include("updateDeleteTrainer") %>
        </div>

        <ul class="trainers-pokemon">
          <% trainersPokemon.forEach((pokemon) => { %>
          <li class="trainer-pokemon-image <%=pokemon.type%>">
            <a href="/pokemon/<%=pokemon.id%>">
              <div class="pokemon-image-container">
                <img src="<%=pokemon.image_path%>" alt="" />
                <span><%=pokemon.name %></span>
              </div>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
    </main>
  </body>
</html>
