<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("head") %>
  </head>
  <body>
    <%- include("header") %>
    <main class="pokemon-main">
      <%- include("pokemonForms", { pokemonTypes, trainerIDsNames } ) %>
      <ul class="pokemons">
        <% pokemon.forEach((pm) => { %>
        <li class="pokemon <%=pm.type%>">
          <a href="/pokemon/<%= pm.id %>" class="pokemon-card-link">
            <ul class="pokemon-details">
              <li>
                <img src="<%= pm.image_path %>" alt="Image of <%= pm.name %>" />
              </li>
              <li class="pokemon-name"><%= pm.name %></li>
              <li class="pokemon-type"><%= pm.type %></li>
              <!-- <li class="pokemon-trainer-id"><%= pm.trainer_id %></li> -->
              <!-- <li class="pokemon-description"><%= pm.description %></li> -->
            </ul>
          </a>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
